
<HTML>

<HEAD>
<MARQUEE BGCOLOR=YELLOW SCROLLAMOUNT=7>第一大寶藏：圖特卡蒙陵墓</MARQUEE><P>
</HEAD>

<BODY>

<CENTER>



<IMG SRC="https://i.imgur.com/c0lOA3R.jpg" ALT="我的最愛的圖片"> <BR>
<A HREF="https://i.imgur.com/W2RsK4X.jpg" TARGET=_blank>
點擊這裡看寶藏<BR><BR><BR>
</A>
<HEAD>
圖特卡蒙的金面具已經成為古埃及文明的象徵<BR>

埃及的帝王谷位於尼羅河西岸的沙漠中，古埃及新時期(首都設在底比斯以後)的大多數法老都埋葬在這裡。<BR>
在1900年左右，幾乎所有帝王谷里的陵墓都被發現了，考古學家和盜墓者在這方面平分秋色。<BR>
但是仍然有成群的人在帝王谷里轉悠，他們都是在尋找傳說中國王圖特卡蒙的陵墓。<BR>

圖特卡蒙是3300多年前的一個年輕埃及法老，他曾在金雕御座上管理著龐大帝國。<BR>
他的統治是短暫的，在18歲時突然死去。在埃及漫長的法老時代中，圖特卡蒙因為在位時間短而名不見經傳，他的猝死也使得他沒有事先修建的豪華金字塔陵墓。<BR>
正因為不起眼，其陵墓在很長時間裡始終沒有被發現。<BR><BR>

考古學家霍華德·卡特熟讀古埃及歷史，發現圖特卡蒙陵墓是他畢生的夢想。<BR>
1903年起，他就帶領助手在帝王谷的每一寸土地上搜索，1922年11月5日，在19年的努力後，他終於找到了圖特卡蒙陵墓入口。<BR>
它竟然位於另一個著名的法老拉美西斯六世的陵墓下面，開鑿於岩石內。<BR>

這是3300年來惟一一個完好無缺的法老陵墓，也是埃及最豪華的陵寢，更是埃及考古史乃至世界考古史上最偉大的發現。<BR>
卡特之前以為這個年輕法老的墓葬品會比較簡單，誰知之後長達3年時間的挖掘向全世界證實了這種預想的愚蠢。<BR>
卡特說過，圖特卡蒙一生惟一出色的成績就是他死了並且被埋葬了，這話是有道理的。因為其陵墓的發現成為古代文明對現代人類最徹底的一次震撼和嘲笑。<BR>
那個成為埃及文明象徵的純金面具，那個純金製成的棺材，那個由純金雕制鑲滿寶石的王位，那些鋪滿墓室牆壁的純金浮雕，那具完整無缺的木乃伊……所有一切都讓人類驚嘆，<BR>
3300年前埃及人的工藝技巧和現在的我們到底有什麼不同？<BR>

圖特卡蒙陵墓的發現是世界考古工作成功的頂峰，也是考古史的重要轉折點。<BR>
所有出土文物超過10000件，每件都是無價之寶。卡特花費3年的時間把它們全部運出墓室，當時挖掘人員從墓的出口抬出女神哈托爾牛頭靈床的鏡頭已經成為考古史上無法超越的經典；<BR>
埃及政府又花費了整整10年的時間把它們運到開羅，開羅博物館之前的所有藏品都因之黯然失色；而徹底研究它們可能需要未來人類全部的時間。<BR>

文物無可比擬的歷史價值和所蘊涵的謎團使圖特卡蒙陵墓排在世界十大寶藏的第一位。

</HEAD>

</CENTER>

</BODY>

</HTML>